@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url("../fssi/fonts/TradeGothicLTStd-Cn18.woff2") format("woff2"), url("../fssi/fonts/TradeGothicLTStd-Cn18.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Trade Gothic LT Pro Cn';
  src: url("../fssi/fonts/TradeGothicLTPro-BdCn20.woff2") format("woff2"), url("../fssi/fonts/TradeGothicLTPro-BdCn20.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Trade Gothic LT Std";
  src: url("../fssi/fonts/TradeGothicLTStd-Light.woff2") format("woff2"), url("../fssi/fonts/TradeGothicLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

#calloutcards .curve {
  display: none; }

#calloutcards .card {
  border: 0.2rem solid #055918;
  border-radius: 0;
  margin: 1rem;
  background-color: #055918; }

#calloutcards .pixel {
  display: none; }

a {
  text-decoration: underline; }

@media (min-width: 768px) {
  .fa.fa-chevron-circle-left,
  .fa.fa-chevron-circle-right {
    position: relative; }
  .fa.fa-chevron-circle-left:after,
  .fa.fa-chevron-circle-right:after {
    background-color: #055918;
    height: 4rem;
    width: 4rem;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #fff;
    position: absolute;
    left: 0;
    font-size: 3rem;
    text-align: center;
    border-radius: 1rem; }
  .fa.fa-chevron-circle-left:after {
    content: "\f053";
    padding: 0.6rem 0.6em 0 0.7rem; }
  .fa.fa-chevron-circle-right:after {
    content: "\f054";
    padding: 0.6rem 0.1em 0 0.7rem; } }

body {
  font-family: "Trade Gothic LT Std";
  font-weight: 300;
  font-style: normal; }

.thin {
  font-family: "Trade Gothic LT Std";
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem; }

@media (max-width: 820px) {
  .thin {
    font-size: .8rem; } }

.nav-list {
  font-family: "Trade Gothic LT Std";
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem; }

@media (max-width: 820px) {
  .nav-list {
    font-size: .6rem; } }

.thick,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trade Gothic LT Pro Cn";
  font-weight: bold;
  font-style: normal; }

p {
  font-family: "Arial";
  font-weight: regular;
  font-style: normal;
  font-size: 1rem; }

.header {
  height: 4rem; }

header#titles .headingbar {
  background: #fff;
  height: 3.8rem;
  width: 100%;
  display: none; }

header#titles .header-image {
  background: url("../fssi/img/nav_header_bg.png") no-repeat;
  background-size: 100%;
  height: 3.6rem; }

header#titles .brand {
  width: 10rem;
  height: 3.8rem;
  background: #fff;
  display: inline-block; }

header#titles .module {
  height: 2rem;
  background: white;
  float: right;
  display: inline-block;
  padding: 0rem .8rem;
  text-transform: uppercase;
  color: #055918;
  margin-top: .8rem;
  font-family: "Trade Gothic LT Pro Cn";
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  margin-right: .8rem; }

header#titles .menubar {
  height: 3rem;
  background-image: url("../fssi/img/canvas_banner.png");
  color: white;
  display: flex; }

header#titles .brand-menubar {
  height: 3rem;
  background: white;
  width: 8rem;
  display: flex;
  float: left; }

header#titles ol.breadcrumb {
  background-color: inherit;
  padding: 0;
  margin: 1rem 0rem 0rem 1.5rem;
  margin-left: 1.5rem;
  color: white; }
  header#titles ol.breadcrumb a {
    color: #fff; }

header#titles .breadcrumb-item + .breadcrumb-item::before {
  font-family: "fontAwesome";
  content: "\f0da" !important;
  color: #fff; }

header#titles .fullscreen {
  float: right;
  position: absolute;
  right: 0;
  width: 100px;
  display: inline-block;
  padding-top: 10px; }

header#titles .exit-course {
  display: inline-block;
  background-size: cover;
  color: white;
  font-size: 2rem;
  text-align: center;
  border: none;
  cursor: pointer;
  height: 2.875rem;
  width: 3.875rem;
  float: right;
  right: 0;
  margin-top: 0px;
  position: fixed; }

header#titles .fullscreenbtn {
  display: inline-block;
  background-size: cover;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  height: 1.875rem;
  width: 1.875rem; }

header#titles #show_hide {
  background-size: cover;
  display: inline-block;
  color: white;
  border-radius: 2px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  height: 1.875rem;
  width: 1.875rem;
  text-align: center; }

header#titles .show {
  display: none; }

@media only screen and (max-width: 1200px) {
  header#titles .show {
    display: block !important; } }

/*
  @media (min-width: 1200px) {
  display: block;
  }
  */
#footer {
  background: #f5f6f5;
  height: 3rem;
  position: fixed;
  bottom: 0;
  flex-shrink: 0;
  z-index: 2000; }
  #footer .copyright {
    text-align: center;
    padding: 1rem;
    font-size: 0.688rem;
    font-family: Verdana, "Segoe UI", sans-serif, "Open Sans"; }
  #footer .vcoss-rmit {
    position: absolute;
    right: 0;
    height: 100%; }
    #footer .vcoss-rmit .rmit {
      background-image: url("../fssi/img/vcoss_rmit.png");
      display: inline-block;
      padding-top: 0px;
      height: 3.125rem;
      width: 8.5rem;
      float: right;
      right: 0;
      background-color: white; }

#accordion-move {
  width: 240px;
  z-index: 1000;
  position: absolute;
  right: 0;
  background-color: #111;
  padding: 0; }
  #accordion-move .show {
    display: block; }
  #accordion-move .hide {
    display: hide; }
  #accordion-move .visibility {
    display: none; }

@media (min-width: 1200px) {
  #accordion-move {
    left: 0;
    display: visible;
    min-height: 100%;
    padding-left: 0px; } }

@media only screen and (max-width: 757px) {
  #accordion-move {
    position: fixed; } }

@media only screen and (min-width: 1200px) {
  #accordion-move .visibility {
    padding-left: 0px;
    display: block; } }

.accordion {
  width: 240px; }
  .accordion .card-header {
    background-color: #111;
    border-bottom: 1px solid #055918; }
    .accordion .card-header .card-title {
      color: #fff;
      padding-left: 20px; }
    .accordion .card-header:after {
      font-family: 'FontAwesome';
      content: "\f056";
      float: left;
      color: #fff; }
    .accordion .card-header.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "\f055";
      color: #055918; }

.accordion-footer {
  color: #055918;
  padding: 20px 120px; }

.card,
.card-header {
  border: 0;
  width: 240px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #111;
  margin: 0 !important;
  border-bottom: 0.5px solid #055918; }

.card-body {
  border: 0;
  width: 240px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #111;
  margin: 0 !important;
  border-bottom: 0.5px solid #055918; }
  .card-body ul {
    list-style: none;
    position: relative;
    padding: 0; }
    .card-body ul:before {
      content: '';
      margin-left: 25px;
      position: absolute;
      top: 0;
      bottom: 0px;
      left: 0;
      width: 1px;
      height: 100%;
      background: #055918; }
    .card-body ul li {
      padding: 10px 20px;
      margin-left: 25px;
      color: #fff; }
      .card-body ul li.selected span {
        font-size: 7px;
        left: -3px;
        color: #fff; }
      .card-body ul li span {
        color: #055918;
        position: absolute;
        left: -2.5px;
        margin-left: 25px;
        font-size: 6px;
        background-color: #111; }

.card {
  box-shadow: none; }

.card-header {
  border-radius: 0;
  width: 240px;
  background-color: #111;
  border-bottom: 0.5px solid #055918;
  outline: none;
  text-align: left;
  padding: 15px 10px;
  font-family: "Trade Gothic LT Std";
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s linear;
  margin: 0px; }

.card-title a {
  text-decoration: none;
  padding: 1em 0;
  font-weight: 300;
  font-style: normal;
  font-size: rem; }

.card-title :hover:after,
.card-title :after {
  content: "\f056";
  color: #fff;
  font-family: "fontawesome";
  font-size: 14px;
  float: left;
  margin-right: 30px; }

.card .card-header:hover:after {
  content: "\f056";
  color: #fff; }

.card-header:not(.collapsed) {
  background: #055918; }

.card-header:hover {
  background-color: #055918; }

.accordion_footer {
  height: 83px;
  width: 240px;
  background-color: #111; }

#header-accordion {
  height: 75px;
  background-color: #fff;
  background-size: 100%;
  width: 240px;
  border-top: 2px solid white; }

.image {
  height: 250px;
  background-image: url("../fssi/img/course_welcome_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#banner-image {
  padding-left: 0px;
  position: absolute;
  z-index: auto;
  margin: 0 auto;
  float: right;
  display: inline-block;
  width: 100%;
  padding-right: 0px; }

@media (min-width: 1200px) {
  #banner-image {
    padding-left: 240px; } }

#green_image {
  background-color: #055918;
  opacity: 0.8;
  position: absolute;
  z-index: 0;
  margin-top: -14vh;
  height: 8vh;
  width: 40vh;
  float: right;
  right: 0; }

@media only screen and (max-width: 600px) {
  #green_image {
    margin-top: -10vh;
    width: 30vh; } }

@media only screen and (max-width: 414px) {
  #green_image {
    margin-top: -7vh;
    width: 30vh;
    height: 6vh; }
    #green_image h2 {
      font-size: 2rem; }
    #green_image .banner-tag {
      color: #fff;
      text-align: center;
      margin-top: .7vh; } }

.banner-tag {
  color: #fff;
  text-align: center;
  margin-top: 1.5vh; }

@media only screen and (max-width: 225px) {
  #green_image {
    margin-top: -5vh;
    width: 30vh;
    height: 6vh; }
    #green_image h2 {
      font-size: 2rem; }
    #green_image .banner-tag {
      color: #fff;
      text-align: center;
      margin-top: .7vh; } }

#header-accordion {
  height: auto;
  background-color: #055918;
  background-size: 100%;
  width: 240px; }

.icons {
  display: inline-block;
  float: center;
  height: 70px;
  width: 90px;
  cursor: pointer;
  font-family: "Trade Gothic LT Std";
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
  margin-right: 30px; }

#assesment {
  padding-left: 0px;
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  float: right;
  display: inline-block;
  width: 100%;
  padding-right: 0px; }

@media (min-width: 1200px) {
  #assesment {
    padding-left: 240px; } }

/* styles */
.h5p-container {
  background: #e3e6e8;
  padding: 2rem; }
  .h5p-container .h5p-standalone,
  .h5p-container .h5p-question {
    border-top: #055918 0.5rem solid;
    background: #f9fafa;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto; }

.h5p-content {
  background: #e3e6e8;
  padding: 2rem; }
  .h5p-content .h5p-multichoice,
  .h5p-content .h5p-drag-text {
    border-top: #055918 0.5rem solid;
    background: #f9fafa;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto; }

.h5p-multichoice .h5p-answer[role="checkbox"] .h5p-alternative-container:before {
  display: none; }

.h5p-joubelui-button {
  font-size: 0.9em;
  cursor: pointer;
  position: relative;
  bottom: auto;
  right: auto;
  background-color: #055918;
  border-color: black;
  color: #fff;
  border-width: 1px;
  padding: 8px 30px;
  float: none;
  vertical-align: bottom; }

.h5p-joubelui-button:before {
  content: '';
  padding: 0; }

.h5p-joubelui-button:hover,
.h5p-joubelui-button:active,
.h5p-joubelui-button:focus {
  background: #02290b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.h5p-question-content.h5p-radio > ul > li {
  width: 50%;
  width: max-content; }

.h5p-answers
.h5p-question .h5p-question-next {
  content: "next \f054"; }

.h5p-question .h5p-question-prev,
.h5p-question .h5p-question-next {
  height: 2rem;
  width: 2rem;
  background-size: contain;
  text-decoration: none;
  padding: 0;
  margin: 0; }

.h5p-question .h5p-question-next, .h5p-question .h5p-question-prev {
  margin: 0.25rem; }

.h5p-question .h5p-question-next:before,
.h5p-question .h5p-question-prev:before {
  top: 0.5rem; }

.h5p-question-introduction {
  line-height: 1.5; }

ul.dots-container {
  padding-top: 1rem; }
  ul.dots-container li.progress-item a.progress-dot {
    height: 2rem;
    width: 2rem;
    background-size: contain;
    text-decoration: none; }
  ul.dots-container li.progress-item .current {
    background: #055918; }
  ul.dots-container li.progress-item a.progress-dot:before {
    font-size: 1rem;
    color: white;
    content: '1';
    font-family: "Museo500", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  ul.dots-container li.progress-item .progress-dot.answered, ul.dots-container li.progress-item .progress-dot {
    background: #ccd2d5; }
  ul.dots-container li.progress-item:nth-child(2) a.progress-dot:before {
    content: '2'; }
  ul.dots-container li.progress-item:nth-child(3) a.progress-dot:before {
    content: '3'; }
  ul.dots-container li.progress-item:nth-child(4) a.progress-dot:before {
    content: '4'; }
  ul.dots-container li.progress-item:nth-child(5) a.progress-dot:before {
    content: '5'; }
  ul.dots-container li.progress-item:nth-child(6) a.progress-dot:before {
    content: '6'; }
  ul.dots-container li.progress-item:nth-child(7) a.progress-dot:before {
    content: '7'; }
  ul.dots-container li.progress-item:nth-child(8) a.progress-dot:before {
    content: '8'; }
  ul.dots-container li.progress-item:nth-child(9) a.progress-dot:before {
    content: '9'; }
  ul.dots-container li.progress-item:nth-child(10) a.progress-dot:before {
    content: '10'; }
  ul.dots-container li.progress-item:nth-child(11) a.progress-dot:before {
    content: '11'; }

.h5p-answers .h5p-multichoice .h5p-answer[aria-checked="true"] .h5p-alternative-container,
.h5p-answers .h5p-multichoice .h5p-answer[aria-checked="true"]:hover .h5p-alternative-container,
.h5p-answers .h5p-answer[role="radio"] .h5p-alternative-container:before,
.h5p-answers .h5p-answer[role="radio"][aria-checked="true"] .h5p-alternative-container:before {
  content: ''; }

.h5p-answers .h5p-answer[aria-checked="true"] .h5p-alternative-container,
.h5p-answers .h5p-answer[aria-checked="true"]:hover .h5p-alternative-container,
.h5p-answers .h5p-answer[aria-checked="true"]:focus .h5p-alternative-container {
  background: #AAD75F;
  border: #5a7e1f 1px solid; }

.h5p-answers .h5p-answer:hover .h5p-alternative-container,
.h5p-answers .h5p-multichoice .h5p-answer:focus .h5p-alternative-container {
  color: #fff;
  background: #5a7e1f;
  border: #020301 1px solid; }

.h5p-answers .h5p-answer.h5p-wrong .h5p-alternative-container,
.h5p-answers .h5p-answer.h5p-wrong:hover .h5p-alternative-container {
  color: #fff;
  background: #055918 !important;
  border: black 1px solid !important; }

.h5p-answers .h5p-answer .h5p-alternative-container {
  padding: .375rem .75rem .375rem .75rem;
  margin: 0;
  border: 1px solid #e3e6e8;
  margin-right: 1rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 50%;
  width: max-content;
  background: #f9fafa; }

.h5p-answer-icon,
.h5p-solution-icon {
  display: none; }

.h5p-should .h5p-alternative-container {
  background: #AAD75F !important;
  border: #5a7e1f 1px solid !important; }

.h5p-should-not .h5p-alternative-container {
  color: #fff;
  background: #055918 !important;
  border: black 1px solid !important; }

.h5p-true-false-answer {
  padding: .375rem .75rem .375rem .75rem;
  margin: 0;
  border: 1px solid #e3e6e8;
  margin-right: 1rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 50%;
  width: max-content;
  background: #f9fafa; }

.h5p-true-false-answer:before,
.h5p-true-false-answer[aria-checked=true]::before {
  content: '';
  margin: 0; }

.h5p-true-false-answer:active,
.h5p-true-false-answer:focus,
.h5p-true-false-answer[aria-checked=true] {
  background: #AAD75F;
  border-color: #5a7e1f; }

.h5p-true-false-answer:hover {
  color: #fff;
  background: #5a7e1f;
  border: #020301 1px solid; }

.h5p-true-false-answers .wrong:after,
.h5p-true-false-answers .correct:after {
  width: 100%; }

.h5p-dragquestion {
  background: #fff; }
  .h5p-dragquestion .h5p-question-content.h5p-dragquestion-has-no-background {
    border-bottom: none; }

.h5p-drag-text {
  background: #fff; }

.h5p-drag-dropzone-container {
  background: #e3e6e8; }
  .h5p-drag-dropzone-container .h5p-drag-text [aria-dropeffect] {
    background: #e3e6e8; }

.h5p-drag-droppable-words .h5p-drag-dropzone-container .ui-droppable {
  background-color: #fff;
  border: 1px dashed #636668; }

.h5p-drag-text [aria-grabbed=true],
.h5p-drag-text [aria-grabbed].h5p-drag-dropped:not(.ui-state-disabled):hover,
.h5p-drag-text [aria-grabbed]:not(.ui-state-disabled):hover {
  background-color: #088925;
  color: #fff; }
