@import "rmit_variables";

//For this course

//Unique colours

//Styles
$card-border-width: 0.2rem;
$headings-font-family: $font-family-serif !default;
$nav-tabs-border-color: $gray-700 !default;
$nav-tabs-link-hover-border-color: none !default;
$nav-tabs-link-active-color: $gray-700 !default;
$nav-tabs-link-active-bg: $white !default;
$nav-tabs-link-active-border-color: $gray-700 !default;
$nav-tabs-border-width: $card-border-width;
//$rmit-btn
//$rmit-alternate-btn
$numbers-background: $rmit-red;
$carousel-chevron: $rmit-red;  
$instruction-background: $gray-200;
$instruction-text: $gray-900;
$rich-background: $gray-200;
$rich-area: $gray-25;
$accent-thickness: 0.5rem;
$accent-color: $rmit-azure;
$accordion-header-inactive: $rich-area;
$accordion-header-active: $rmit-red;
$accordion-header-active-font: $white;
$rich-heading-font: $font-family-serif;
$tab-active-heading-background: $white;
$inactive-tab-background: $mid-grey;
$tab-inactive-heading-colour: $gray-900;
$active-tab-heading: $rmit-red;  
$flip-card-front-colour: $white;
$flip-card-front-text-colour: $gray-900;
$flip-card-back-colour: $white;
$flip-card-back-text-colour: $gray-900;
$hotspot-color: $rmit-red;
$button-primary: $rmit-red;