.tab-content {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
#ChoiceGame
{

}

.card-header {
padding: .4rem 1.25rem;
margin-bottom: 0;
background-color: rgba(0,0,84,.05);
border-bottom: $rmit-blue;
background: $rmit-blue;
.h5
{
	color: white;
}
}
.card{
position: relative;

display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 2px solid $rmit-blue;
border-radius: .25rem;
}

.accord-item
{ 
	border-top: 1px solid $gray-300;

	.h5
	{
	margin-bottom: 0;
	color: $rmit-lightblue;	
	}
	a:hover
	{
		text-decoration: none;

	}

}
.accord-item:hover
{
background-color: $gray-300;
}
.accord-item:nth-last-child(1)
{
border-bottom: 1px solid $gray-300;	
}

.ac-plus
{transition: 300ms linear all;
display:inline-block;
  -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);

    position: relative;

}
[data-toggle="collapse"][aria-expanded="true"] > h3 > .ac-plus
{
   display:inline-block;
  -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
   

}
//ACF rich content sample doc
#sampledoc
{
.physical-document{
  border:solid 0px #cfcfcf;
  border-bottom:none;
  padding: 3rem 4rem;
  margin:20px 20px 0px 20px;
  font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
  font-size:1em;
  line-height:1.7em;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.44);

  p:last-child{
  padding-bottom:1rem;
  }

  .background-watermark{
      position:absolute;
      z-index:-5;
      display:block;
}

.bg-text
{
    color:lightgrey;
    font-size:3rem;
    line-height: 4rem;
    z-index:-5;
    transform:rotate(330deg);
    -webkit-transform:rotate(330deg);
    padding-top: 10rem;
}

}
  .tear{
  background-image: url(img/tear.png);
  background-repeat:no-repeat;
  background-position:bottom;
  background-size: auto 100%;
  height:100%;
  padding:2.47% 0;
  margin: 0px 20px 20px 20px;
  -webkit-filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.28));
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.28));
  }


}

