.tab-content {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
#ChoiceGame
{

}

.card-header {
padding: .4rem 1.25rem;
margin-bottom: 0;
background-color: rgba(0,0,84,.05);
border-bottom: $rmit-blue;
background: $rmit-blue;
.h5
{
	color: white;
}
}
.card{
position: relative;

display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 2px solid $rmit-blue;
border-radius: .25rem;
}

.accord-item
{ 
	border-top: 1px solid $gray-300;

	.h5
	{
	margin-bottom: 0;
	color: $rmit-lightblue;	
	}
	a:hover
	{
		text-decoration: none;

	}

}
.accord-item:hover
{
background-color: $gray-300;
}
.accord-item:nth-last-child(1)
{
border-bottom: 1px solid $gray-300;	
}

.ac-plus
{transition: 300ms linear all;
display:inline-block;
  -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);

    position: relative;

}
[data-toggle="collapse"][aria-expanded="true"] > h3 > .ac-plus
{
   display:inline-block;
  -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
   

}

