//Overrides Bootstrap variables
$rmit-red: #e60028 !default;
$rmit-blue: #000054 !default;

$rmit-teal: #7ae1AA !default;
$rmit-yellow: #FAC800 !default;
$rmit-orange: #FC9147 !default;
$rmit-lemon: #EEDC00 !default;
$rmit-green: #AAD75F !default;
$rmit-aqua: #00DCB4 !default;
$rmit-lightblue: #0078FF !default;
$rmit-azure: #00AAFF !default;
$rmit-artic: #50D2FF !default;
$rmit-purple: #AA0082 !default;
$rmit-lavender: #C864C8 !default;
$rmit-pink: #FF8199 !default;

$blue: $rmit-lightblue !default;
$indigo: $rmit-lavender !default;
$purple: $rmit-purple !default;
$pink: $rmit-pink !default;
$red: $rmit-red !default;
$orange: $rmit-orange !default;
$yellow: $rmit-yellow !default;
$green: $rmit-green !default;
$teal: $rmit-teal !default;
$cyan: $rmit-azure !default;
$aqua: $rmit-aqua !default;
$lavender: $rmit-lavender !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-150: #F1F3F5 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$primary: $rmit-lightblue !default;
$success: $rmit-green !default;
$info: $rmit-aqua !default;
$warning: $rmit-yellow !default;
$danger: $rmit-red !default;

$headings-color: $rmit-red !default;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Museo500", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$card-border-width: 2px;

$headings-font-family: $font-family-serif !default;

$nav-tabs-border-color:             $gray-700 !default;
$nav-tabs-link-hover-border-color:  none !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $gray-100 !default;
$nav-tabs-link-active-border-color: $gray-700 !default;
$nav-tabs-border-width: $card-border-width; 