.bridge-nav {
    //position: absolute;
    bottom: 0;

    .btn-prev {
       // left: 0;
        //position: relative;
        bottom: 0;
        font-weight: 700;
    }

    .btn-next {
        //right: 0;
        //position: relative;
       // bottom: 0;
        font-weight: 700;
    }
}