$url_2: url('../fssi/img/theme/fssi_logo.png');
$url_3: url('../fssi/img/theme/breadcrumb_banner.png');
$url_1: url('../fssi/img/theme/logo_banner.png');
$url_4: url("../fssi/img/theme/hamburger.png");
$url_5: url("../fssi/img/theme/fullscreen_icon.png");
$url_6: url("../fssi/img/theme/vcoss_rmit_logo.png");
$url_7: url("../fssi/img/theme/nav_header.png");
//prev naext icons
$url_16: url("../fssi/img/theme/prev-page.png");
$url_15: url("../fssi/img/theme/next-page.png");

// //rich content
// Flipcards
$url_8: url("../fssi/img/theme/flipme_icon.png");
// introtabs
$url_9: url("../fssi/img/theme/learning_objectives_inverse.png");
$url_10: url("../fssi/img/theme/key_activities_inverse.png");
$url_11: url("../fssi/img/theme/assessments_inverse.png");
$url_12: url("../fssi/img/theme/learning_objectives.png");
$url_13: url("../fssi/img/theme/key_activities.png");
$url_14: url("../fssi/img/theme/assessments.png");

$banner-height: 4rem;
$breadcrumbs-height: 3rem;
$nav-width: 20rem;
$footer-height: 3rem;

#fssi {
  //height: 100%;
  background: $white;
  min-height: 600px;

  .thin-text {
    font-family: "Trade Gothic LT Std";
    font-weight: 500;
  }

  #nav {
    font-family: "Trade Gothic LT Std";
    font-weight: 500;
    background: $warm-grey;
    width: $nav-width;
    z-index: 1000;
    position: absolute;

    top: ($banner-height + $breadcrumbs-height);
    right: 0;

    .nav-header {
      background-image: $url_7;
      width: $nav-width;
      height: ($nav-width/3);
      background-size: cover;
    }

    a {
      color: white;
      font-weight: inherit;

      ul {

        list-style: none;

        padding: 0 0 0 0;

        li {
          background: red;
          padding: 1rem;
          background: $warm-grey;
          padding: 0 0 0 0;

          ul {
            background: yellow;

            li {
              background: green;
            }
          }
        }
      }

      //copied from accordion

    }

    @media (min-width: 1200px) {
      left: 0;
    }

    .visibility {

      //display: none;
      // needs to be hidden on start by default
      #cssmenu {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: $warm-grey;
        border-bottom: 0.1rem solid $green;

        ul {
          //top level
          margin: 0;
          padding: 0;
          border: 0;
          list-style: none;
          line-height: 1;
          display: block;
          position: relative;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          li {
            margin: 0;

            border: 0;
            list-style: none;
            line-height: 1;
            display: block;
            position: relative;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            a {
              margin: 0;

              border: 0;
              list-style: none;
              line-height: 1;
              display: block;
              position: relative;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              padding: 1rem 1rem;
              cursor: pointer;
              z-index: 2;
              border-bottom: .1rem solid $green;
              //border-top: .1rem solid $green;
              text-decoration: none;
              color: $natural-green;

            }

            a:before {
              font-family: FontAwesome;
              content: "\f055";
              margin-right: 0.4rem;
              font-size: 0.8rem;

            }

            a:hover {
              //background: $green;
            }

            a:hover:before {
              font-family: FontAwesome;
              //content: "\f056";
              margin-right: 0.4rem;
              font-size: 0.8rem;
              color: white;

            }

            li {

              ul {

                a:before {
                  content: "";
                  display: block;
                  //border-bottom: .1rem solid $green;
                  position: absolute;
                  width: 1.5rem;
                  top: 1.5rem;
                  left: 1rem;
                  padding-left: 1.5rem;

                }

                span {
                  margin-left: 1rem;
                }
              }
            }

            ul {
              //second level
              //background: red;
              //padding-left: 1rem;
              border-left: 0.1rem solid $green;

              li {
                margin-left: 0;
                //padding-left: 0.5rem;

                a {
                  //background: silver;
                  padding: 1rem 0 1rem 1rem;
                  border-bottom: 0;
                  border-left: 0.1rem solid $green;
                  //left: 2rem;
                  margin-left: 2rem;
                  width: inherit;

                  span {
                    position: relative;
                    padding: 0 0 0 -1rem;

                  }

                  span:before {
                    font-family: FontAwesome;
                    content: "\f111";
                    color: $green;
                    position: relative;
                    left: -1.6rem;
                    background-color: $black;
                    font-size: 0.5rem;
                    top: -.25rem;
                  }
                }

                a:before {
                  font-family: FontAwesome;
                  content: "";
                  margin-right: 0.4rem;
                  font-size: 0.8rem;

                }

                li.menu-item-has-children ul {
                  //third level
                  //background: orange;

                  li {
                    //background: teal;

                    a {
                      //background: goldenrod;
                    }

                    a:before {

                      content: "b";

                    }
                  }

                }

              }

              li:hover {
                background: $green;

                a {
                  border-left: .1rem solid white;

                  span:before {
                    background: $green;
                    color: white;
                  }

                  ul {

                    li {
                      background: red;
                    }
                  }
                }
              }

              li.menu-item-has-children {

                a:before {
                  font-family: FontAwesome;
                  //content: "\f055";
                  color: $green;
                  position: relative;
                  left: -1.85rem;
                  //background-color: $black;
                  font-size: .75rem;

                }

                ul {
                  //background: goldenrod;
                  border-left: none;
                  border-bottom: none;

                  a {
                    span:before {
                      content: "";
                      margin-left: .75rem;
                    }
                  }

                  a:before {
                    content: "";
                    border-bottom: 0.15rem solid $green;
                    position: absolute;
                    bottom: 1.5rem;
                    width: 2rem;
                    left: -0rem;

                  }
                }
              }

              li.menu-item-has-children:hover {}
            }

          }

          li.menu-item-has-children.has-sub {

            a {
              //background: red;
            }

          }

          li.menu-item-has-children {
            //border-top: $green solid 0.1rem;

            ul {
              li.menu-item-has-children {
                border-top: 0;
              }
            }
          }

          li.active {
            background: darken($green, 10%);
          }
        }

        ul {
          // background: red;
        }
      }

      .holder {}

      @media (min-width: 1200px) {
        padding-left: 0px;
        display: block;
      }
    }

    .nav-footer {
      height: 4rem;
      width: 100%;
      position: absolute;
      bottom: 0;

    }

  }

  #banner {
    background: $url_1;

    height: $banner-height;

    a {
      margin-left: -15px;
      background-color: $white;
      height: $banner-height;
      width: ($banner-height * 2.7017);
      float: left;

      .fssi-logo {
        background-color: $white;
        background: $url_2;
        height: $banner-height;
        background-size: contain;
        background-repeat: no-repeat;

      }
    }

    .module-title {
      background: $white;
      height: ($banner-height * 0.6);
      padding: ($banner-height * 0.06);
      float: right;
      margin: ($banner-height * 0.2);
      display: inline-block;

      h1 {
        color: $green;
        font-size: ($banner-height * 0.4);
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
    }

  }

  #breadcrumbs {
    background: $url_3;
    color: $white;
    height: $breadcrumbs-height;

    border-top: ($breadcrumbs-height * 0.05) $white solid;
    border-bottom: ($breadcrumbs-height * 0.05) $white solid;

    ul {
      list-style: none;
      margin: ($breadcrumbs-height * 0.15);
      padding: 0;
      float: left;

      li {
        color: $white;
        display: inline;
        font-size: ($breadcrumbs-height * 0.3);
        padding-left: 0.5rem;

      }

      li:before {

        font-family: "fontAwesome";
        content: "\f0da" !important;
        color: $white;
        padding: 0 0.5rem 0 0;

      }

    }

    button#navtoggle {
      float: right;

      @media (min-width: 1200px) {
        display: none;
      }
    }

    button#fullscreen {
      float: right;
    }

    .btn-fs,
    .btn-menu {
      height: ($breadcrumbs-height * 0.7);
      width: ($breadcrumbs-height * 0.7);
      margin: ($breadcrumbs-height * 0.1);
      padding: 0;
      float: right;
      position: relative;
      background-size: cover;
      //background-color: red;
      border: none;
      z-index: 400;
    }

    .btn-fs {
      background-image: $url_5;

    }

    .btn-menu {
      background-image: $url_4;

    }
  }

  #content {

    width: 100%;
    padding: 10px 15px $footer-height 15px;
    font-family: Verdana, "Segoe UI", sans-serif, "Open Sans";

    @media (min-width: 1200px) {
      margin-left: $nav-width;
    }

    p {
      font-size: 1rem;
    }
  }

  //Cards
  #calloutcards {
    .card {

      #cardcontent {

        .card-header {
          margin-left: 3rem;
        }
      }

      .card-body {
        margin-left: 3rem;
      }
    }

  }

  //Tabs
  #left-tabs {
    .tab-content {
      border: 2px solid $nav-tabs-border-color;
    }

    .tab-pane {
      margin: 1rem;
    }

    a.nav-link {
      padding: 1rem 0 0rem 0;

      .h4 {
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $white;
        text-align: left;

      }
    }

    a.nav-link.active>.h4 {
      color: $nav-tabs-active-text-color;
      border-bottom: 2px solid $green;

    }

  }

  // Carousel

  //Accrordion

  #accordion {
    padding: 0.1rem 0.1rem 0.05rem 0.1rem;

    #cards {

      .card {
        margin-bottom: 0;
        border-bottom: 0.1rem solid $grey;
        border-left: 0.05rem solid $grey;

        .card-header {
          padding: 1.1rem;

        }

        h3.card-header {
          background-color: #fff;
          color: $text-grey;
          text-transform: uppercase;

          .h6 {
            font-size: 1.1rem;
          }

          .fa-plus,
          .fa-minus {
            position: absolute;
            right: 0.5rem;
            color: $green-light;
          }

          .fa-plus:before {
            font-family: FontAwesome;
            Content: "\f055";
          }

          #headingTitle {
            padding-left: 2rem !important;
          }
        }

        h3.collapsed {
          border-left: 0.2rem $white solid;
        }

        h3 {
          border-left: 0.2rem $green-light solid;
        }

        .card-body {
          p {
            font-size: 0.9rem;
          }
        }

        .collapsed,
        .collapsing {
          border-left: 0.2rem $green-light solid;
        }

        .collapse {
          border-left: 0.2rem $green-light solid;
        }
      }
    }
  }

  #flipcards {
    background: $white;

    .card {
      border: $green-light 0.1rem solid;
      -webkit-box-shadow: 0 0 5rem lighten($green-light, 60%);
      -moz-box-shadow: 0 0 2rem lighten($green-light, 60%);
      box-shadow: 0 0 2rem lighten($green-light, 60%);

      .card-body {

        p {

          font-size: 1.1rem;
          font-family: $font2;
          color: $green-light;
        }
      }

      .middler {
        margin-bottom: 1rem;

        button {
          background: none;
          background-image: $url_8;
          background-size: contain;
          color: rgba(0, 0, 0, 0);
          background-position: center;
          height: 3.5rem;
          border: none;
          background-repeat: no-repeat;

          //display: none;
        }
      }
    }
  }

  #introtabs {
    #tabs {
      width: 80%;

      ul.nav {
        border: none;
        width: 20rem;
        margin: auto;

        li.nav-item {
          border: none;
          background: none;
          margin: auto;
          padding: 0 0 0.5rem 0;
          margin-top: 0;
          background-position: center;

          a {

            height: 4.7rem;
            width: 6rem;
            border-bottom: solid $white 0.2rem;
            padding: 0;
            background: none;
            background-size: cover;
            background-position: top;
            height: 100%;

            .title {
              //display: none;
              position: relative;
              top: 5rem;
              background: $green-light;
              font-family: $font2;
              width: 5rem;
              margin: auto;
              padding: 0.5rem;
              width: 100%;
              text-align: center;
              color: $white;
              font-size: 1rem;
              height: 4rem;
              vertical-align: middle !important;

            }

            i.fa-chevron-down {
              display: none;
            }

          }

          a.nav-link {

            //margin-bottom: 1.2rem;
          }

          a.nav-link.active {

            padding: 0;
          }

        }

        li.nav-item:nth-child(1) {
          a {
            background-image: $url_9;
            background-repeat: no-repeat;
            background-position: center;
          }

          a.active {
            background-color: $green-light;
            background-image: $url_12;

          }
        }

        li.nav-item:nth-child(2) {
          a {
            background-image: $url_10;
            background-repeat: no-repeat;
            background-position: center;

            .title {
              padding-top: 1.25rem;
            }
          }

          a.active {
            background-color: $green-light;
            background-image: $url_13;

          }
        }

        li.nav-item:nth-child(3) {
          a {
            background-image: $url_11;
            background-repeat: no-repeat;
            background-position: center;

            .title {
              padding-top: 1.25rem;
            }
          }

          a.active {
            background-color: $green-light;
            background-image: $url_14;

          }
        }

      }

      .tab-content {
        border: none;
        padding: 0;
        margin-top: 5rem;

        .tab-pane {

          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }

  }

}

//#FSSI

#footer {
  background-color: $footer;

  position: absolute;
  background-color: #f5f6f5;
  bottom: 0;
  z-index: 2000;

  p {
    text-align: center;
    font-family: Verdana, "Segoe UI", sans-serif, "Open Sans";
    font-size: ($footer-height / 4.5);
    margin: ($footer-height /3);
    //padding-top: ($footer-height);

  }

  .partner-logos {
    background: $url_6;
    height: $footer-height;
    background-size: contain;
    width: 10rem;
    //background: red;
    float: right;
    background-repeat: no-repeat;
  }

  button {
    //margin: 1rem;
  }
}
#footer-page
{
  position: absolute;
 
  bottom: 1rem;
  z-index: 2000;
  #next-prev
  {
    width: 10rem;
    margin: auto;
    bottom: 1rem;
  .btn-next, .btn-prev
  {
    background-size: contain;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
  }
  .btn-next
  {
    background-image: $url_15;
  }
  .btn-prev
  {
    background-image: $url_16;
  }
  }
}

.navshow {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.jack-test {
  color: red;
}

//rich content edits