@import "course_selector";
/* styles */

.h5p-container {
    background: $gray-200;
    padding: 2rem;
    .h5p-standalone,
    .h5p-question,
        {
        border-top: $accent-color $accent-thickness solid;
        background: $rich-area;
        padding: 1rem;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.h5p-content {
    background: $gray-200;
    padding: 2rem;
    .h5p-multichoice,
    .h5p-drag-text {
        border-top: $accent-color $accent-thickness solid;
        background: $rich-area;
        padding: 1rem;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.h5p-multichoice .h5p-answer[role="checkbox"] .h5p-alternative-container:before
{
    display: none;
}

//Check button
.h5p-joubelui-button {
    font-size: 0.9em;
    cursor: pointer;
    position: relative;
    bottom: auto;
    right: auto;
    background-color: $rmit-red;
    border-color: darken($rmit-red, 30%);
    color: $white;
    border-width: 1px;
    padding: 8px 30px;
    float: none;
    vertical-align: bottom;
}

.h5p-joubelui-button:before {
    content: '';
    padding: 0;
}

.h5p-joubelui-button:hover,
.h5p-joubelui-button:active,
.h5p-joubelui-button:focus,
    {
    background: darken($rmit-red, 10%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

//Quiz
.h5p-question-content.h5p-radio>ul>li {
    //make buttons smaller
    width: 50%; // OK - for ie and edge
    width: max-content; // nicer
}

.h5p-answers //choice buttons
.h5p-question .h5p-question-next {
    content: "next \f054";
}

//next page selector
.h5p-question .h5p-question-prev,
.h5p-question .h5p-question-next {
    //conforms next selector
    height: 2rem;
    width: 2rem;
    background-size: contain;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.h5p-question {
.h5p-question-next, .h5p-question-prev{
margin: 0.25rem;

}
}
.h5p-question .h5p-question-next:before,
.h5p-question .h5p-question-prev:before {
    //centers arrow
    top: 0.5rem;

}
.h5p-question-introduction
{
    line-height: 1.5;
}
//Progress icons



ul.dots-container {
    padding-top: 1rem;
    li.progress-item {
        a.progress-dot {
            height: 2rem;
            width: 2rem; //
            //background: url(../img/carousel/1.png);
            background-size: contain;
            text-decoration: none;
        }
        .current {
            background: $rmit-red;
        }
        a.progress-dot:before {
            font-size: 1rem;
            color: white;
            content: '1';
            font-family: $font-family-serif;
        }
        .progress-dot.answered, .progress-dot
        {
            background: $gray-400;
        }
    }
    li.progress-item:nth-child(2) {
        a.progress-dot:before {
            content: '2';
        }
    }
    li.progress-item:nth-child(3) {
        a.progress-dot:before {
            content: '3';
        }
    }
    li.progress-item:nth-child(4) {
        a.progress-dot:before {
            content: '4';
        }
    }
    li.progress-item:nth-child(5) {
        a.progress-dot:before {
            content: '5';
        }
    }
    li.progress-item:nth-child(6) {
        a.progress-dot:before {
            content: '6';
        }
    }
    li.progress-item:nth-child(7) {
        a.progress-dot:before {
            content: '7';
        }
    }
    li.progress-item:nth-child(8) {
        a.progress-dot:before {
            content: '8';
        }
    }
    li.progress-item:nth-child(9) {
        a.progress-dot:before {
            content: '9';
        }
    }
    li.progress-item:nth-child(10) {
        a.progress-dot:before {
            content: '10';
        }
    }
    li.progress-item:nth-child(11) {
        a.progress-dot:before {
            content: '11';
        }
    }
}

// Multichoice
.h5p-answers {
    .h5p-multichoice .h5p-answer[aria-checked="true"] .h5p-alternative-container,
    .h5p-multichoice .h5p-answer[aria-checked="true"]:hover .h5p-alternative-container,
    .h5p-answer[role="radio"] .h5p-alternative-container:before,
    .h5p-answer[role="radio"][aria-checked="true"] .h5p-alternative-container:before //remove radio icon from selected button
        {
        content: '';
    }
    .h5p-answer[aria-checked="true"] .h5p-alternative-container,
    .h5p-answer[aria-checked="true"]:hover .h5p-alternative-container,
    .h5p-answer[aria-checked="true"]:focus .h5p-alternative-container //button when selected
        {
        background: $rmit-green;
        border: darken($rmit-green, 30%) 1px solid;
    }
    .h5p-answer:hover .h5p-alternative-container,
    .h5p-multichoice .h5p-answer:focus .h5p-alternative-container //button on hover
        {
        color: $white;
        background: darken($rmit-green, 30%);
        border: darken($rmit-green, 60%) 1px solid;
    }
    .h5p-answer.h5p-wrong .h5p-alternative-container,
    .h5p-answer.h5p-wrong:hover .h5p-alternative-container {
        color: $white;
        background: $rmit-red !important;
        border: darken($rmit-red, 30%) 1px solid !important;
    }
    //correct and incorrect icon overrides - TODO these could be improved.
    .h5p-answer {
        .h5p-alternative-container {
            padding: .375rem .75rem .375rem .75rem;
            margin: 0;
            border: 1px solid $gray-200;
            margin-right: 1rem;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 50%; // OK - for ie and edge
            width: max-content; // nicer
            background: $rich-area;
        }
    }
}

.h5p-answer-icon,
.h5p-solution-icon {
    display: none;
}

.h5p-should {
    // shows solution
    .h5p-alternative-container {
        background: $rmit-green !important;
        border: darken($rmit-green, 30%) 1px solid !important;
    }
}

.h5p-should-not {
    .h5p-alternative-container {
        color: $white;
        background: $rmit-red !important;
        border: darken($rmit-red, 30%) 1px solid !important;
    }
}

// True False activity
.h5p-true-false-answer {
    padding: .375rem .75rem .375rem .75rem;
    margin: 0;
    border: 1px solid $gray-200;
    margin-right: 1rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 50%; // OK - for ie and edge
    width: max-content; // nicer
    background: $rich-area;
}

.h5p-true-false-answer:before,
.h5p-true-false-answer[aria-checked=true]::before {
    content: '';
    margin: 0;
}

.h5p-true-false-answer:active,
.h5p-true-false-answer:focus,
.h5p-true-false-answer[aria-checked=true],
    {
    background: $rmit-green;
    border-color: darken($rmit-green, 30%);
}

.h5p-true-false-answer:hover {
    color: $white;
    background: darken($rmit-green, 30%);
    border: darken($rmit-green, 60%) 1px solid;
}

.h5p-true-false-answers {
    .wrong:after,
    .correct:after {
        width: 100%;
    }
}

//Drag questions
.h5p-dragquestion {
    background: #fff;
    .h5p-question-content.h5p-dragquestion-has-no-background {
        border-bottom: none;
    }
}

//Drag text
.h5p-drag-text {
    background: #fff;
}

.h5p-drag-dropzone-container {
    background: $gray-200;
    .h5p-drag-text [aria-dropeffect] {
        background: $gray-200;
    }
}

//Multichoice
// Drop zone text
.h5p-drag-droppable-words {
    .h5p-drag-dropzone-container {
        .ui-droppable {
            background-color: $white;
            border: 1px dashed $gray-700;
        }
    }
}

.h5p-drag-text [aria-grabbed=true],
.h5p-drag-text [aria-grabbed].h5p-drag-dropped:not(.ui-state-disabled):hover,
.h5p-drag-text [aria-grabbed]:not(.ui-state-disabled):hover {
    background-color: $link-color;
    color: $white;
}
