//Overrides Bootstrap variables
$rmit-red: #d3261d !default; //Actually not RMIT red, but Canvas red - https://sites.rmit.edu.au/projectrewire/2018/04/26/canvas-scoop-great-news-for-canvas-accessibility(hmmmm)/
$canvas-link-blue: #0074E7;
$rmit-blue: #000054 !default;
$rmit-teal: #7ae1AA !default;
$rmit-yellow: #FAC800 !default;
$rmit-orange: #FC9147 !default;
$rmit-lemon: #EEDC00 !default;
$rmit-green: #AAD75F !default;
$rmit-aqua: #00DCB4 !default;
$rmit-lightblue: #0074e7 !default;
$rmit-paleblue: #3F99FF !default;
$rmit-azure: #00AAFF !default;
$rmit-artic: #50D2FF !default;
$rmit-purple: #AA0082 !default;
$rmit-lavender: #C864C8 !default;
$rmit-pink: #FF8199 !default;