//Overrides Bootstrap variables
$rmit-red: #d3261d !default; //Actually not RMIT red, but Canvas red - https://sites.rmit.edu.au/projectrewire/2018/04/26/canvas-scoop-great-news-for-canvas-accessibility(hmmmm)/
$canvas-link-blue: #0074E7;
$rmit-blue: #000054 !default;
$rmit-teal: #7ae1AA !default;
$rmit-yellow: #FAC800 !default;
$rmit-orange: #FC9147 !default;
$rmit-lemon: #EEDC00 !default;
$rmit-green: #AAD75F !default;
$rmit-aqua: #00DCB4 !default;
$rmit-lightblue: #0074e7 !default;
$rmit-paleblue: #3F99FF !default;
$rmit-azure: #00AAFF !default;
$rmit-artic: #50D2FF !default;
$rmit-purple: #AA0082 !default;
$rmit-lavender: #C864C8 !default;
$rmit-pink: #FF8199 !default;

$blue: $rmit-blue !default;
$indigo: $rmit-lavender !default;
$purple: $rmit-purple !default;
$pink: $rmit-pink !default;
$red: $rmit-red !default;
$orange: $rmit-orange !default;
$yellow: $rmit-yellow !default;
$green: $rmit-green !default;
$teal: $rmit-teal !default;
$cyan: $rmit-azure !default;
$aqua: $rmit-aqua !default;
$lavender: $rmit-lavender !default;
$white: #fff !default;
$gray-25: #f9fafa;
$gray-50: #f3f5f5;
$gray-100: #eef0f1 !default;
$gray-150: #e8ebec !default;
$gray-200: #e3e6e8 !default;
$gray-250: #dde1e3 !default;
$gray-300: #d7d7d7 !default; //canvas grey button fills
$gray-350: #d2d7da !default;
$gray-400: #ccd2d5 !default;
$gray-450: #c7cdd1 !default; //Canvas gray - borders
$gray-500: #b3b8bc !default;
$gray-550: #9fa4a7 !default;
$gray-600: #8b8f92 !default;
$gray-650: #777b7d !default;
$gray-700: #636668 !default;
$gray-750: #4f5253 !default;
$gray-800:#3b3d3e !default;
$gray-850: #272929 !default;
$gray-900:#131414 !default;
$black: #000 !default;
//Human friendly greys
$grey: $gray-200;
$dark-grey: $gray-450;
$v-dark-grey: $gray-750;
$light-grey: $gray-25;
$mid-grey: $gray-300;
//utility colours
$lighter-green: lighten($rmit-green, 20%);
$much-lighter-green: lighten($rmit-green, 30%);
$primary: $rmit-red !default;
$success: $rmit-green !default;
$info: $rmit-aqua !default;
$warning: $rmit-yellow !default;
$danger: $rmit-red !default;
$headings-color: $rmit-red !default;
$light-blue: $rmit-azure;
$link-color: $canvas-link-blue !default;
//Fonts
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-serif: "Museo500",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
$font-family-monospace: "SFMono-Regular",
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-script:'Gamja Flower',
cursive !default;
//Buttons
