.bagwanfooter {
  padding: 1%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12%;
  background-color: #b3ff66;
  color: #AAD75F;

}

/* Top Bar and Menu */

.navbar {
  left: auto;
  bottom: 0;
  width: 300px;
  flex-flow: column nowrap;
  align-items: flex-start !important;
  position: fixed !important;
  top: 0;
  right: 0;
  display: flex !important;
  background-color: #000053;
  padding: 0px !important;
}

@media (min-width: 768px) {
  body {
    margin-right: 300px;
  }
}

#menu-vwp li {
  list-style-type: none !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#menu-vwp li a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

#menu-vwp li ul {
  padding-inline-start: 0px !important;
  background-color: #ffffff;
  padding-inline-start: 40px !important;
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  /*    padding-bottom: 1.3rem !important; */
  /*  margin-bottom: -0.4rem !important; */
  border-left: 3px solid #01A19A !important;
  margin-top: 1rem;
}

#menu-vwp li ul li {
  padding-bottom: 0rem;
  padding-right: 2rem;
}

#menu-vwp li ul li:last-child {
  padding-bottom: 1rem;
}

#menu-vwp li ul a {
  color: #01A19A !important;
  font-weight: 400;
  font-size: 1.2rem;
  border-left: 2px solid #fff;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#menu-vwp li ul a:hover {
  color: #372A57 !important;
  border-left: 2px solid #372A57;
  padding-left: .5rem;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#menu-vwp li ul .current-menu-item a {
  color: #372A57 !important;
  border-left: 2px solid #372A57;
  padding-left: .5rem;
  font-size: 1.5rem;
}

/* Intranet menu */
#menu-vwp-intranet li {
  list-style-type: none !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#menu-vwp-intranet li a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

#menu-vwp-intranet li ul {
  padding-inline-start: 0px !important;
  background-color: #ffffff;
  padding-inline-start: 40px !important;
  background-color: #ffffff;
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  padding-bottom: 1.3rem !important;
  margin-bottom: -0.4rem !important;
  border-left: 3px solid #01A19A !important;
  margin-top: 1rem;
}

#menu-vwp-intranet li ul li {
  padding-bottom: 0rem;
  padding-right: 2rem;
}

#menu-vwp-intranet li ul a {
  color: #01A19A !important;
  font-weight: 400;
  font-size: 1.2rem;
  border-left: 2px solid #fff;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#menu-vwp-intranet li ul a:hover {
  color: #372A57 !important;
  border-left: 2px solid #372A57;
  padding-left: .5rem;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#menu-vwp-intranet li ul .current-menu-item a {
  color: #372A57 !important;
  border-left: 2px solid #372A57;
  padding-left: .5rem;
  font-size: 1.5rem;
}

#menu-vwp-intranet li.open {
  padding-bottom: 0rem !important;
}

/* END - Intranet Menu */
.menu-item {
  border-bottom: 1px solid white;
}

.menu-item li {
  border-bottom: 0px solid white;
}

#sidebar {
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
}

.mCustomScrollBox {
  width: inherit;
}

/*PUSH AND PULL MENU*/
/* General styles for all menus */
.cbp-spmenu {
  position: fixed;
}

@media (min-width: 100px) and (max-width: 767px) {

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
  }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-right {
    left: -100%;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    left: 0%;
  }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }

  .cbp-spmenu-push-toleft {
    width: 100%;
  }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

@media (min-width: 768px) {

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-right {
    left: 0px;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    left: -300px;
  }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
    width: calc(100% + 300px);
  }

  .cbp-spmenu-push-toleft {
    width: 100%;
  }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

/*Hamburger Icon - Menu*/
.hamburger {
  position: fixed;
  left: 0px;
  z-index: 1000;
}

@media (min-width: 767px) {

  /* Icon 1 */
  #showRightPush {
    width: 35px;
    height: 35px;
    left: 0px;
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    z-index: 1000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #showRightPush span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #283896;
    border-radius: 19px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #showRightPush.open .full-screen {
    left: 3rem;
    top: 0rem;
  }

  #showRightPush.open .help-tip {
    left: 5.5rem;
    top: 0rem;
  }

  #showRightPush.open span:nth-child(1) {
    top: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #showRightPush.open span:nth-child(2) {
    top: 12px;
    left: 0px;
    opacity: 100;
  }

  #showRightPush.open span:nth-child(3) {
    top: 24px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #showRightPush span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #showRightPush span:nth-child(2) {
    opacity: 0;
    top: 15px;
    left: -60px;
  }

  #showRightPush span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

@media (min-width: 100px) and (max-width: 767px) {

  /* Icon 1 */
  #showRightPush {
    width: 35px;
    height: 35px;
    left: 0px;
    position: fixed;
    margin: 1.5rem 2rem;
    z-index: 1000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #showRightPush span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 19px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #showRightPush span:nth-child(1) {
    top: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #showRightPush span:nth-child(2) {
    top: 12px;
    left: 0px;
    opacity: 100;
  }

  #showRightPush span:nth-child(3) {
    top: 24px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #showRightPush.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #showRightPush.open span:nth-child(2) {
    opacity: 0;
    top: 15px;
    left: -60px;
  }

  #showRightPush.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  #showRightPush.open .fscreen {
    display: none;
  }
}

/*Help button*/
.help-tip {
  position: absolute;
  top: 0rem;
  right: 21rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  cursor: default;
}

.help-tip:before {
  content: '?';
  font-weight: bold;
  color: #283896;
}

/*Fullscreen button*/
.full-screen {
  right: 18rem;
  top: 0rem;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  border: 0.1em solid #fff;
  width: 1em;
  height: 1em;
  position: absolute;
}

.full-screen:before,
.full-screen:after {
  content: '';
  background: #283896;
  position: absolute;
}

.full-screen:before {
  width: .333em;
  height: 1em;
  left: .233em;
  top: -.1em;
}

.full-screen:after {
  width: 1em;
  height: .333em;
  top: .233em;
  left: -.1em;
}

/*Fullscreen button*/
.fscreen {
  z-index: 10;
  font-size: 1.9rem;
  margin: 1.5rem;
}

@media (min-width: 100px) and (max-width: 767px) {
  .fscreen {
    margin: 1.5rem 5rem;
  }

  .full-screen {
    right: 3rem;
    top: 0rem;
  }

  .help-tip {
    right: 5.5rem;
    top: 0rem;
  }

  #next-prev {
    display: flex;
    flex-wrap: wrap;
  }

  .float-left {
    width: 100%;
    order: 2;
  }

  .float-right {
    width: 100%;
    order: 1;
  }
}

.float-right {
  padding: 5px 0px;
}

.float-left {
  padding: 5px 0px;
}

#banner {
  height: 72px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  position: fixed;
}

#banner #ws {
  margin-left: -15px;
  height: 72px;
  width: 194.5224px;
  float: right;
  width: 320px;
}

#banner #ws .vwp-logo {
  background: url("../vwp/img/theme/bagwan_logo.png");
  height: 50px;
  margin: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}

#banner .module-title {
  background: #fff;
  height: 28.8px;
  padding: 3.6px;
  float: right;
  margin: 21.6px;
  display: inline-block;
}

#banner .module-title h1 {
  color: #372A57;
  font-size: 21.6px;
  line-height: 21.6px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  #banner {
    display: block;
  }
}
.go-back {
  padding: 5px;
  background: #d9143e;
  border: 8px solid #d9143e;
  color: #ffffff;
  border-radius: 2em;
  display: flex;
  align-self: center;
  margin-left: 26%;
  text-decoration: none;
  text-align: center;
  width: 140px
}

/* Top Bar and Menu end */

/*Org Chart*/
* {
  box-sizing: border-box;
}

.grid-item {
  /*
  float: left;
  padding-bottom: 1rem;
  margin-bottom: 1rem;*/
}

.ceo-sub {
  height: 1rem;
}

.level0 {
  border: 0px solid #eee;
  text-align: center;
  color: #000053;
  font-weight: 600;
  font-size: 3rem;
}

.sublevel0 {
  border-top: 2px solid #000053;
  border-left: 2px solid #000053;
  border-right: 2px solid #000053;
  min-height: 1rem;
}

.org_name {
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.sub_org {
  padding-bottom: 10px;
}

.sub_org_name {
  border-bottom: 1px solid #fff;
  width: 10%;
  position: absolute;
  left: 45%;
}

.org_title {
  font-weight: 400;
  text-align: center;
}

.b-r {
  min-height: 2rem;
  border-right: 1px solid #000053;
}

.b-l {
  min-height: 2rem;
  border-left: 1px solid #000053;
}

.level1 {
  color: #fff;
  background-color: #000053;
  padding: 20px;
  font-size: 1rem;
}

.level2 {
  border-bottom: 1px solid #eee;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.level2:last-child {
  border-bottom: 0px;
}

.org_chart_profile {
  max-width: 40%;
  min-width: 120px;
  margin: 10px auto;
  padding-bottom: 5px;
}

.org_chart_profile img {
  border-radius: 100px;
  border: 2px solid #fff;
  box-shadow: 0px 3px 5px rgba(3, 3, 3, 0.18);
}

.bio {
  background-color: #fff;
  text-align: left;
  color: #372A57;
  font-size: .9rem;
  padding: 20px;
  margin: 20px -20px -20px;
}

/*Cards*/
.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}